.venv/
__pycache__/
*.py[cod]
*.pyo

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

outputs/
checkpoints/
runs/
wandb/
mlruns/
tmp_trainer/

.env
.env.*

*.faiss
*.index
*.bin
*.pt
*.pth
*.safetensors

*.log

docs/Technical Test Data Scientist.pdf
